@font-face {
  font-family: "DS";
  src: url("fonts/Nintendo-DS-BIOS.ttf") format("truetype");
}

#frog {
  background-color: #000000;
  display: block;
}

#frog img {
  padding-top: 5em;
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#frog h {
  font-family: "DS";
  color: white;
  text-align: center;
  width: 30vw;
  height: auto;
  display: block;
  margin-left: 35vw;
  margin-right: 35vw;
}

#frog a {
  font-family: "DS";
  color: aquamarine;
}
