@font-face {
  font-family: "DS";
  src: url("/fonts/Nintendo-DS-BIOS.ttf") format("truetype");
}

body {
  background-color: #000000;
  display: block;
  color: white;
  font-family: "DS";
  font-size: 30px;
}

body img {
  width: 20em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body h {
  text-align: center;
  width: 30vw;
  height: auto;
  display: block;
  margin-left: 35vw;
  margin-right: 35vw;
}

body a {
  color: aquamarine;
}
