canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* General */
}
@font-face {
  font-family: "DS";
  src: url("/fonts/DOS-VGA.tff") format("truetype");
}

body {
  background: black;
}

body,
div,
html {
  margin: 0;
  padding: 0;

}
#app {
  position: fixed;
  top: 0;
}
.content {
  display: flex;
  text-align: center;
  color: #fff;
  font-family: DS;
  font-size: 25px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

a {
  color: #7fffd4;
}

.nounder {
  text-decoration: none;
}

.content button {
  font-family: DS;
  font-size: 20px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #7fffd4;
  background-color: #000000;
  border-color: #7fffd4;
  margin-bottom: 10px;
}


#footer-banners {
  position: absolute;
  text-align: center;
  align-content: flex-end;
  bottom: 0;
  width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
#social-banners {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

#social-banners img {
  transition: transform 0.3s;
}
#social-banners img:hover  {
  transform: scale(1.25);
}
#footer-banners img {
  transition: transform 0.3s;
}
#footer-banners img:hover  {
  transform: scale(1.25);
}

.hover {
  transition: transform 0.3s;
}
.hover:hover {
  transform: scale(1.25);
}

#page-container {
  height: 95vh;

  margin-top: 2vh;
  margin-left: 6vh;
  margin-right: 6vh;
  margin-bottom: 2vh;

  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

#content-wrap {
  padding-bottom: 1rem;
  width: 100%;
}

table 
{
  position: relative;
    width: 100%;
    margin-top: 2vh;
    border-spacing: 5px;
}

td {
  vertical-align: top;
  position: relative;
  border: 4px double white;
  background-color: rgba(0, 0, 0, 0.694);
}

.leftcell{
  width: 15%;
}
.middlecell{
  width: auto;
}
.rightcell{
  width: 15%;
}

#user{
  font-size: 2vw;
  padding-bottom: 0.2em;
  background: rgba(0, 0, 0, 0.955);
}

#user img {
  height: 5vw;
  margin-bottom: -1vw;
}