canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Chrome, Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* General */
}
@font-face {
  font-family: "DS";
  src: url("/fonts/Nintendo-DS-BIOS.ttf") format("truetype");
}

body {
  background: black;
}

body,
div,
html {
  margin: 0;
  padding: 0;

}
#app {
  position: fixed;
  top: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: DS;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

a {
  color: #7fffd4;
}

.nounder {
  text-decoration: none;
}

.content button {
  font-family: DS;
  font-size: 30px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #7fffd4;
  background-color: #c90979;
  border-color: #7fffd4;
  margin-bottom: 10px;
}

#title {
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: 50px;
}

#subtitle {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-family: DS;
  margin-top: 5px;
}

#footer-banners {
  text-align: center;
  bottom: 0;
  width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
#social-banners {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

#social-banners img {
  transition: transform 0.3s;
}
#social-banners img:hover  {
  transform: scale(1.25);
}
#footer-banners img {
  transition: transform 0.3s;
}
#footer-banners img:hover  {
  transform: scale(1.25);
}

.hover {
  transition: transform 0.3s;
}
.hover:hover {
  transform: scale(1.25);
}

#page-container {
  position: relative;
  margin: auto;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

  border: 4px double white;
  background-color: rgba(0, 0, 0, 0.811);
  
}
#content-wrap {
  padding-bottom: 1rem;
}